.container {
    margin-top: 1rem;
    display: flex;
}
.select {
    margin: 0 auto;
    border: solid 1px #000000;
    min-width: 700px;
   // min-height: 700px;
    position: sticky;
    background: #b5cbdc;
}
#hello{
    font-size: 25px;
    margin-left: 105px;
    min-height: 20px;
}
select{
    width:287px;
    height:40px;
    font-size: 21px;
    margin-left: -34px;
}
.buyer {
//    margin-left: 30%;
//    height: 50px;
//    width: 200px;
}
.user-select{
    margin-left: 35%;
}
