.container {
    margin-top: 1rem;
    display: flex;
}
.buttons input{
    min-width: 16em;
    font-size: 14px;
    height: 40px;
    display: block;
    margin-top: -5px;
    border-radius: 100%;
    background-color: #f8a886;
}
.cards {
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
}

.checkBox {
    min-width: 14rem;
    margin-top: -1px;
    position: sticky;
    height: 100%;
    top: 15px;
}

.checkBox fieldset {
    margin-bottom: 8px;
    border: 1px solid #3f3d3d;
    border-radius: 6px;
}

.checkBox label {
    color: rgb(208, 15, 24);
}

.checkBox input[checkbox] {
    background-color: rgb(208, 15, 24);
}

.checkBox button {
    margin-left: 3px;
}

.checkbox-wrapper:not(:last-child) {
    margin-bottom: 4px;
}

.checkbox-wrapper {
    display: block;
    width: 100%;
}

.checkbox-wrapper > input[checkbox] {
    margin-right: 3px;
}

legend {
    color: rgb(136, 9, 18);
}

.card {
    background-color: #F8F9FB;
    border-radius: 6px;
    padding: 12px 20px;
    margin: 8px;
    width: 22rem;
    min-width: 17rem;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15)
}


.card p {
    margin: 2px;
    color: #000000;
}

.card p:last-child {
    margin-bottom: 1rem;
}

.selected {
    display: flex;
}

.selected p {
    color: #d00f18;
}
.buttons2{
    width: 100%;
    display: block;
    height: 10em;
    font-size: 20px;
}
.manager-select{
    margin-bottom: 25px;
}
#qwe {
    transform:scale(1.5);
    opacity:0.9;
    cursor:pointer;
}
/* меню страниц */
.menu {
    background-color: #ffffff;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    width: 10.5%;

}
/*Теперь уберем маркеры со списка и произведем выравнивание его элементов в одну
линию*/
.menu li {
    display: inline-flex;
    vertical-align: top;
    padding: 10px;
    color: #6f6d6d;
}
.menu a {
    text-decoration: none;
    color: #6f6d6d;
}
.menu a:hover {
    color: #e37b7b;
}
.menu li:hover {
    cursor: pointer;
    color: #f8f8f8;
}
.menu ul {
    padding: 0px;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
   // background: red;
    border-radius: 5px;
    content: "▼";
    color: #e00c0c;
    font-size: 0.7em;
    //font-weight: bold;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
}
details summary::-webkit-details-marker {
    display: none
}
details > summary {
    list-style: none;
}
details[open] summary::after {
    content: "▲";
}
summary{
    font-size: 30px;
    color: #918686;
    user-select: none;
    cursor: pointer;
}
details{
    margin-left: 30px;
}