<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Купить</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="{{ asset('css/deal.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="select">
        <form method="post">
            <p id="hello">Введите персональные данные покупателя</p>
            <p style="margin-left: 23%" id="hello">или выберите уже существующего</p>
            <div class="user-select">
                <select name="buyer">
                    {% for buyer in buyers %}
                        <option selected="{{ buyer.buyerFio }}" value="{{ buyer.id }}">
                            {{ buyer.buyerFio}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <input style="margin-left: 45%;margin-top: 10px" type="submit" value="Выбрать" name="choose">
            <div style="margin-top: 10px">
                <p>
                    <input type="text" placeholder="ФИО" name="fio" style="width:280px; height:40px;margin-left: 30%;font-size: 18px;">
                </p>
                <p>
                    <input type="text" placeholder="Серия паспорта" name="series" style="width:280px; height:40px;margin-left: 30%;font-size: 18px">
                </p>
                <p>
                    <input type="text" placeholder="Номер паспорта" name="number" style="width:280px; height:40px;margin-left: 30%;font-size: 18px">
                </p>
                <p>
                    <input type="submit" value="Оформить" name="send" style="width:289px; height:40px;margin-left: 30%; background: mediumseagreen">
                </p>
            </div>
        </form>
    </div>

</div>
</body>
</html>